{
    "extends": [
        "plugin:@wordpress/eslint-plugin/esnext",
        "prettier"
    ],
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "no-console": "off"
    }
}
