#welcome {
  background: #001e50;
  color: #fff;

  .wrapper-container {
    max-width: 1434px;
    margin-left: auto;
    margin-right: auto;
  }

  .content-container {
    display: flex;
    flex-wrap: wrap;
  }

  .title {
    padding-top: 56px;
    padding-bottom: 19px;
    font-size: 30px;

    display: flex;
    flex-wrap: wrap;

    span {
      width: 100%;
    }
  }

  .welcome-to {
    font-weight: 700;
    letter-spacing: 0.015rem;
    line-height: normal;
  }

  .dealership-name {
    letter-spacing: 0.015rem;
    font-weight: 200;
    line-height: 3rem;
  }

  .para {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .welcome-image {
    display: flex;
  }

  .img {
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .img_3 {
    width: 100%;
  }

  .button-container {
    width: 33.33%;
  }
}

// small
@media screen and (max-width: 768px) {
  #welcome {
    padding: 56px 0;
    .wrapper-container {
      padding-right: 1.4rem;
      padding-left: 1.4rem;
    }
    .content {
      font-size: 15px;
    }

    .welcome-to {
      padding-bottom: 3.75px;
      font-size: 30px;
    }

    .dealership-name {
      font-size: 37.5px;
    }
    aside {
      display: none;
    }

    .img_1 {
      height: 184px;
      width: 100%;
      background-position: 50%;
    }

    .img_2 {
      display: none;
    }

    .button-container {
      width: 100%;
    }
  }
}

// medium
@media print, screen and (min-width: 769px) {
  #welcome {
    padding: 56px 0;
    .wrapper-container {
      padding-right: 1.15rem;
      padding-left: 1.15rem;
    }
    .content {
      font-size: 0.85rem;
      line-height: 1.25rem;
      width: calc(100% - 0.625rem);
      margin-left: 0.3125rem;
      margin-right: 0.3125rem;
    }

    .welcome-to {
      padding-bottom: 5px;
      font-size: 40px;
    }

    .dealership-name {
      font-size: 50px;
    }

    aside {
      display: none;
    }
    .button-container {
      width: 41.66%;
    }

    // img 1 & 2
    .welcome-image {
      display: block;
    }

    .img_1 {
      height: 478px;
      width: 100%;
    }

    .img_2 {
      display: none;
    }
  }
}

// large
@media print, screen and (min-width: 1029px) {
  #welcome {
    padding: 75px 0;

    .content-container {
      display: flex;
      flex-flow: row wrap;
    }

    .content {
      width: calc(50% - 1.25rem);
      margin-left: 0.625rem;
      margin-right: 0.625rem;
    }
    .wrapper-container {
      padding-right: 1.65rem;
      padding-left: 1.65rem;
    }
    .title {
      padding-top: 75px;
      padding-bottom: 25px;
    }

    aside {
      display: flex;
      flex-direction: column;
      width: calc(41.66667% - 1.25rem);
      margin-left: 0.625rem;
      margin-right: 0.625rem;
    }

    .button-container {
      width: 33.33%;
    }

    // img 1 & 2
    .welcome-image {
      display: flex;
      align-items: flex-end;
    }

    .img {
      background-size: cover;
      background-repeat: no-repeat;
    }

    .img_1 {
      height: 565px;
      width: 58.33333%;
    }

    .img_2 {
      display: flex;
      height: 384px;
      flex-grow: 1;
    }

    .img_3 {
      height: 258px;
      width: 100%;
    }
  }
}
